<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <main class="bg-dark d-flex justify-content-center align-items-center vh-100 vw-100">
        <div class="container-fluid bg-white h-100 p-0">
            @await Html.PartialAsync("~/Views/Shared/Components/_Navbar.cshtml")
            <div class="container p-4">
                @RenderBody()
            </div>
        </div>
    </main>    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
